@import 'fonts';
@import 'vars';
@import 'global';

// START HEADER
.header{
    background-color: #fefefe;
    border-bottom: 1px solid #e5e5e5;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 555px;
    width: 100%;
    margin-left: auto;
    &-link{
        color:#8DA1B6;
        font-size: 18px;
        line-height: 22px;
        position: relative;
        transition: all .3s;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            background-color: #0195FF;
            width: 0;
            height: 2px;
            transition: all .3s;
        }
        &:hover{
            color: $black;
            &::before{
                width: 30px;
            }
        }
    }
}
.header__phone{
    a{
        color: $black;
        font-size: 20px;
        line-height: 25px;
        margin-left: 101px;
    }
}
.header__logo{
    margin-left: 43px;
}
.bags{
    margin-left: 377px;
}

// END HEADER
.burger-menu{
    width: 26px;
    height: 25px;
    position: relative;
    span{
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: $black;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        &:last-child{
            top: 0;
            transform: none;
        }
        &:first-child{
            bottom: 0;
            top: unset;
            transform: none;
        }
    }
}

// @import 'media';