html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-weight: 400;
  font-size: 20px;
  color: #2D3D51;
  position: relative;
}

a {
  display: inline-block;
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

img.dp-block,
svg.dp-block {
  display: block;
}

.container {
  max-width: 1720px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.title {
  font-size: 40px;
  line-height: 50px;
  color: #2D3D51;
}

.button {
  background-color: #2D3D51;
  color: #fefefe;
  padding: 20px 90px 20px 30px;
  position: relative;
}

.button::after {
  content: '';
  background-image: url(../images/icons/Vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30PX;
  height: 15px;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fefefe;
}

.header {
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 555px;
  width: 100%;
  margin-left: auto;
}

.header__menu-link {
  color: #8DA1B6;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__menu-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #0195FF;
  width: 0;
  height: 2px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__menu-link:hover {
  color: #2D3D51;
}

.header__menu-link:hover::before {
  width: 30px;
}

.header__phone a {
  color: #2D3D51;
  font-size: 20px;
  line-height: 25px;
  margin-left: 101px;
}

.header__logo {
  margin-left: 43px;
}

.header__bags {
  margin-left: 377px;
}

.burger-menu {
  width: 26px;
  height: 25px;
  position: relative;
}

.burger-menu span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #2D3D51;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-menu span:last-child {
  top: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.burger-menu span:first-child {
  bottom: 0;
  top: unset;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.first {
  background-color: #fefefe;
}

.first iframe {
  width: 100%;
  max-width: 646px;
  height: 273px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.first__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 200px;
  padding-bottom: 109px;
  position: relative;
}

.first img {
  padding-right: 215px;
}

.first__wrapper {
  padding-bottom: 322px;
  padding-top: 68px;
}

.first__text {
  max-width: 700px;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 100px;
  color: #8DA1B6;
}

.order {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.order-line {
  width: 2px;
  height: 100px;
  background-color: #EEEEEE;
  margin: 0 auto;
}

.order-line span {
  display: block;
  height: 20px;
  background-color: #2D3D51;
}

.order-num {
  color: #EEEEEE;
  font-size: 20px;
  line-height: 24px;
}

.order-num.active {
  color: #2D3D51 !important;
}

.second {
  background-color: #FBF0E0;
}

.second img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.second__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 800px;
}

.second__text {
  padding-left: 75px;
  max-width: 600px;
  font-size: 20px;
  line-height: 40px;
  color: #2D3D51;
}

.second .order {
  left: 0;
  right: unset;
}

.second .order-line {
  background-color: #E3D4BE;
  padding-top: 20px;
}

.second .order-num {
  color: #E3D4BE;
}

.third {
  background-color: #fefefe;
}

.third__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.third__inner img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.third__wrapper {
  margin-top: 711px;
  margin-left: 53px;
  max-width: 545px;
  width: 100%;
  text-align: center;
}

.third__wrapper button {
  display: inline-block;
  margin-top: 40px;
}

.third__titles .title {
  line-height: 80px;
}

.third__titles .title + .title {
  margin-top: 85px;
}

.third .order-line {
  padding-top: 40px;
}
